@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./fonts/NEXON_Lv2_Gothic.woff);
}

body {
	font-family: 'NEXONLv2Gothic';
}

.dx-widget {
    font-family: 'NexonLv2Gothic' !important;
}

.dx-widget input {
    font-family: 'NexonLv2Gothic' !important;
}

html
{
    width: 450px;
    height: 500px;
}

.container {
    display: grid;
    height: 100%;
}

.main-frame {
    height: 500px;
}

.image-icon {
    width: 100%;
    height: 100%;
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
    
}

.dx-datagrid-search-panel {
    margin: 0 0 0 0px;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin-bottom: 5px;
}

.dx-toolbar .dx-toolbar-menu-container {
    padding: 0 0 0 0px;
}

.dx-tabpanel.dx-state-focused .dx-tabpanel-tabs .dx-tab.dx-tab-selected {  
    box-shadow: inset 0 0 0 0 !important;  
}  

.dx-tabpanel.dx-state-focused .dx-tabpanel-tabs .dx-tabs {  
    box-shadow: inset 0 0 0 0 !important;  
}  

.dx-tabpanel.dx-state-focused .dx-tabpanel-tabs .dx-tab {  
    box-shadow: inset 0 0 0 0 !important;  
}  

.dx-tabpanel .dx-tabpanel-tabs .dx-tab.dx-tab-selected {  
    box-shadow: inset 0 0 0 0 !important;  
} 

.dx-tabpanel .dx-tabpanel-tabs .dx-tabs {  
    border: 1px solid #ddd !important;
    box-shadow: inset 0 0 0 0 !important;  
}  

.dx-tabpanel .dx-tabpanel-tabs .dx-tab {  
    box-shadow: inset 0 0 0 0 !important;  
}  

.dx-tabpanel:not(.dx-empty-collection) .dx-multiview-wrapper {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}
.dx-tabpanel.dx-state-focused .dx-tab:not(.dx-tab-selected):before {  
    border-bottom: 1px solid #ddd!important;  
    box-shadow: inset 0 0 0 0!important;  
}  
.dx-tabpanel.dx-state-focused .dx-multiview-wrapper {  
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    box-shadow: inset 0 0 0 0!important;  
}

.dx-texteditor-input {
    margin: 0;
    padding: 7px 9px 8px;
    background: rgba(0,0,0,0);
    color: #333;
    font-size: 1em;
    border-radius: 4px;
    min-height: 25px;
}