@font-face {
    font-family: 'NexonLv2Gothic';
    src: url(./fonts/NEXON_Lv2_Gothic.woff);
}

body {
	font-family: 'NEXONLv2Gothic';
}

.dx-widget {
    font-family: 'NexonLv2Gothic' !important;
}

.dx-widget input {
    font-family: 'NexonLv2Gothic' !important;
}

html
{
    width: 450px;
    height: 500px;
}

.container {
    display: grid;
    height: 100%;
}

.main-frame {
    height: 500px;
}

.dx-datagrid-search-panel {
    margin: 0 0 0 0px;
}

.dx-datagrid-header-panel .dx-toolbar {
    margin-bottom: 5px;
}

.dx-toolbar .dx-toolbar-menu-container {
    padding: 0 0 0 0px;
}